<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="model.updateUser()"
               class="navbar-notoggle"
               data-toggle="collapse"
               data-target="#myNavbar">
                <span class=" pull-right glyphicon glyphicon-ok"></span>
            </a>
            <a class="navbar-brand">Profile</a>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
            id="myNavbar">
            <li><a ng-click="model.updateUser()" >
                <span class="hover-highlight color-white pull-right glyphicon glyphicon-ok"></span>
            </a></li>
        </ul>

    </div>
</nav>


<div class="container-fluid">

    <label for="username">Username</label>
    <input ng-model="model.userClone.username"
           value="jannunzi"
           type="text"
           placeholder="username"
           id="username"
           class="form-control"/>

    <label for="email">Email</label>
    <input ng-model="model.userClone.email"
           value="jannunzi@gmail.com"
           placeholder="email"
           type="email"
           id="email"
           class="form-control"/>

    <label for="firstname">First Name </label>
    <input ng-model="model.userClone.firstName"
           value="Jose"
           type="text"
           placeholder="First Name"
           id="firstname"
           class="form-control"/>

    <label for="lastname">Last Name </label>
    <input ng-model="model.userClone.lastName"
           value="Annunziato"
           type="text"
           placeholder="Last Name"
           id="lastname"
           class="form-control"/>

    <a href="#!/user/{{model.user._id}}/website" class="btn btn-block btn-primary">Websites</a>

    <a ng-click="model.logout()" class="btn btn-block btn-danger">Logout</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/profile"
               class="navbar-notoggle"
               data-toggle="collapse"
               data-target="#theFooter">
                <span class=" pull-right glyphicon glyphicon-user"></span>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
            id="theFooter">
            <li><a href="#!/profile">
                <span class="hover-highlight color-white pull-right glyphicon glyphicon-user"></span>
            </a></li>
        </ul>

    </div>
</nav>
