<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="#">Hearthstone Deck Builder</a>
        </div>
        <div id="navbar"
             class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#!/">Home</a></li>
                <li ng-if="model.currentUser._id">
                    <a href="#!/user/{{model.currentUser._id}}/deck">Decks
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!model.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-if="!model.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-if="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                <li ng-if="model.currentUser._id"><a ng-click="model.logout()">Logout</a></li>

                <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="#!/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs scrollable-left">
            <ul class="list-group">

                <li ng-repeat="deck in model.decks"
                    class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a href="#!/user/{{model.userId}}/deck/{{deck._id}}">
                                {{deck.name}}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-10-absolute">
            <label name="model.myForm" novalidate>
                <div class="row">
                    <div class="col-sm-10 col-xs-9">
                        <label for="name"> Deck Name</label>

                    </div>
                    <div class="col-sm-2 col-xs-3 btn btn-primary updateButton"
                         ng-click="model.updateDeck()">
                        Update Deck
                    </div>
                </div>
                <input ng-model="model.deckClone.name"
                       id="name"
                       type="text"
                       class="form-control"
                       placeholder="Deck Name"
                       ng-class="model.classes"
                       required/>
                <div class="input-group flickr-search">
                    <input ng-model="model.searchText"
                           type="text"
                           class="form-control"
                           placeholder="Leeroy Jenkins">
                    <span class="input-group-btn">
                        <a ng-click="model.searchCards(searchText)"
                           class="btn btn-default"
                           type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                </div>

                <div class="btn-group"
                     ng-click="model.classChanged()">
                    <label class="btn btn-primary"
                           ng-class="{active: true}"
                           ng-model="model.classToggleValue"
                           btn-radio="'hero'">{{model.deck.heroClass}}</label>
                    <label class="btn btn-primary"
                           ng-model="model.classToggleValue"
                           btn-radio="'neutral'">Neutral</label>
                </div>

                <div class="row">
                    <div class="col-md-9 col-sm-9 container-fluid" wbdv-sortable>
                        <div ng-repeat="selectableCard in model.cards[model.currentlyRendering] | filter:{'name':model.searchText, 'type':'!Hero'}"
                             class="wd-card col-md-4 col-sm-4 col-xs-6">
                            <img ng-click="model.addCardToDeck(selectableCard)"
                                 ng-src="{{selectableCard.img}}"
                                 width="100%" >
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        Deck List {{model.deckClone.cardCount}} out of 30

                        <ul ng-repeat="card in model.deckClone.cards | orderBy:'cost'"
                            class="list-group card-list">
                            <li class="list-group-item card-list-item"
                                ng-click="model.removeCardFromDeck(card)">
                                <span class="pull-left mana-cost"> {{card.cost}}</span>
                                <span class="card-name">{{card.name}}</span>
                                <span class="pull-right">{{card.quantity}}</span>
                                <span width="5px"
                                          class="{{card.rarity}}">.</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <label for="description">Deck Description</label>
                <textarea ng-model="model.deckClone.description"
                          id="Description"
                          rows="5"
                          placeholder="description"
                          class="form-control"></textarea>
                </form>

                <a ng-click="model.deleteDeck(model.deckId)"
                   class="btn btn-block btn-danger">
                    Delete
                </a>
        </div>
    </div>
</div>
