<nav class="navbar navbar-default navbar-fixed-top navbar-light-theme">
    <div class="container-fluid">
        <div class="navbar-header">
            <a ng-click="model.updateWidget(widgetClone)"
               class="navbar-notoggle"
               data-toggle="collapse"
               data-target="#myNavbar">
                <span class="pull-right color-dark glyphicon glyphicon-ok"></span>
            </a>

            <div class="navbar-brand navbar-brand-light">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="pad-right hover-highlight color-dark glyphicon glyphicon-chevron-left"></span>
                </a>
                Widget Edit
            </div>

        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
            id="myNavbar">
            <li><a ng-click="model.updateWidget(model.widgetClone)">
                <span class="hover-highlight color-dark pull-right glyphicon glyphicon-ok"></span>
            </a></li>
        </ul>

    </div>
</nav>

    <div ng-switch="model.widgetClone.type">
        <div ng-switch-when="HEADING">
            <div ng-include="'views/widget/editors/widget-heading-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <div ng-include="'views/widget/editors/widget-image-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="YOUTUBE">
            <div ng-include="'views/widget/editors/widget-youtube-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="HTML">
            <div ng-include="'views/widget/editors/widget-html-edit.view.client.html'"></div>
        </div>
        <div ng-switch-when="TEXT">
            <div ng-include="'views/widget/editors/widget-text-edit.view.client.html'"></div>
        </div>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-light-theme">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}"
               class="navbar-notoggle"
               data-toggle="collapse"
               data-target="#theFooter">
                <span class=" pull-right glyphicon color-blue glyphicon-user"></span>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse"
            id="theFooter">
            <li><a href="#!/user/{{model.userId}}">
                <span class=" hover-highlight color-blue pull-right glyphicon glyphicon-user"></span>
            </a></li>
        </ul>

    </div>
</nav>