<!--<nav class="navbar navbar-default navbar-fixed-top navbar-light-theme">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a href="widget-list.html" class="navbar-notoggle" data-toggle="collapse" data-target="#myNavbar">-->
                <!--<span class="pull-right color-dark glyphicon glyphicon-ok"></span>-->
            <!--</a>-->
            <!--<div class="navbar-brand navbar-brand-light">-->
                <!--<a href="widget-list.html">-->
                    <!--<span class="pad-right hover-highlight color-dark glyphicon glyphicon-chevron-left"></span>-->
                <!--</a>-->
                <!--Widget Edit-->
            <!--</div>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="myNavbar">-->
            <!--<li><a href="widget-list.html">-->
                <!--<span class="hover-highlight color-dark pull-right glyphicon glyphicon-ok"></span>-->
            <!--</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<div class="container-fluid">

    <label for="name">Name</label>
    <input ng-model="model.widgetClone.name"
           id="name"
           type="text"
           class="form-control"/>

    <label for="text">Text</label>
    <input ng-model="model.widgetClone.text"
           id="text"
           type="text"
           value="React vs Angular 2: Comparison Guide for Beginners"
           class="form-control"/>

    <label for="size">Size</label>
    <input ng-model="model.widgetClone.size"
           id="size"
           type="number"
           value="3"
           class="form-control"/>

    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-danger btn-block">Delete</a>

</div>

<!--<nav class="navbar navbar-default navbar-fixed-bottom navbar-light-theme">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a href="../user/profile.html" class="navbar-notoggle" data-toggle="collapse" data-target="#theFooter">-->
                <!--<span class=" pull-right glyphicon color-blue glyphicon-user"></span>-->
            <!--</a>-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="theFooter">-->
            <!--<li><a href="../user/profile.html">-->
                <!--<span class=" hover-highlight color-blue pull-right glyphicon glyphicon-user"></span>-->
            <!--</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->